[2020-01-17 14:06] thesmallstar opened #1 "Add yourself as a participant [Mandatory]"
Welcome! This will be your first task.
Follow this link if you need help: [link](https://github.com/opencodeiiita/Opencode-Collaborative-20#adding-yourselves-to-participant-section)

[2020-01-17 14:59] Ace-Bansal opened #2 "Create a footer for the website"
Things required in the footer:

Logos of IIITA and GeekHaven on the left side.
OpenCode's social media links in the center-> [Facebook](https://www.facebook.com/opencodeiiita/), [Twitter](https://twitter.com/teamOpencode/) and [GitHub](https://github.com/opencodeiiita).
OpenCode's logo on the right side.

[2020-01-17 15:03] Swarnam97 commented on #2
claim

[2020-01-17 15:05] ekanban commented on #2
The event hasn't started yet @Luna-Lovegood97
Check back again 12 midnight.

[2020-01-17 15:14] Ace-Bansal opened #3 "Create the first version of the landing page"
Alright then, let's start building the first basic version of this website's landing page (the front page or the first thing that you see when you open the website)
A good place to start can be putting up a nice background with OpenCode's logo in the middle.

[2020-01-17 17:18] thesmallstar opened #5 "Add participants Section"
Fetch Data from participants.json
It should display the name and most of the information in JSON.

[2020-01-17 17:20] thesmallstar opened #6 "Add Mentors Section"
Fetch mentors from mentors.json

[2020-01-17 17:21] thesmallstar opened #7 "Change Hero Image to a more suitable one for Opencode"

[2020-01-17 17:21] thesmallstar opened #8 "Add move to top button"
it should be floating in bottom right side

[2020-01-17 17:24] thesmallstar opened #9 "Add a projects section"
Add all opencode'20 projects here

[2020-01-17 17:25] thesmallstar opened #10 "Add social icons to the top bar"
Add social icons with open code social links

[2020-01-17 17:28] thesmallstar opened #11 "Add a Loader to the website"
Make sure loader is animated, made by you and uses open code logo.

[2020-01-17 18:10] ekanban commented on #2
@Luna-Lovegood97 would you like to take this up now?

[2020-01-17 18:16] Saggittarius-A commented on #11
@opencodebot claim

[2020-01-17 18:29] Swarnam97 commented on #2
yes, claim

[2020-01-17 18:33] ekanban commented on #2
Go ahead

[2020-01-17 18:44] PratyushPareek commented on #7
@opencodebot claim

[2020-01-17 18:56] cyber-venom003 commented on #10
Sir....Please assign me this task!!!

[2020-01-17 18:57] cyber-venom003 commented on #9
Sir.....I wanna work on this!!!

[2020-01-17 18:57] Codedude1 commented on #8
I wanna work on this

[2020-01-17 19:05] Rohini13 commented on #10
@opencodebot claim

[2020-01-17 19:06] griffy06 commented on #8
@opencodebot claim

[2020-01-17 19:09] griffy06 commented on #8
@opencodebot claim

[2020-01-17 19:10] Saggittarius-A commented on #5
@opencodebot claim

[2020-01-17 19:12] Rohini13 commented on #3
@opencodebot claim

[2020-01-17 19:13] Rohini13 commented on #3
@opencodebot claim

[2020-01-17 19:18] ananya-mohanty commented on #10
@opencodebot claim

[2020-01-17 19:22] Piyush4064 commented on #7
Sir, I want to work on this task

[2020-01-17 19:22] garvitchittora commented on #7
I want to work on this project

[2020-01-17 19:22] thesmallstar commented on #10
@Rohini13  there is no opencodebot :)
Cybervenom commented first so assigning to him
Please solve another issue and/or explore more repos :D

[2020-01-17 19:23] garvitchittora commented on #3
I want to work on this project

[2020-01-17 19:23] garvitchittora commented on #2
I want to work on this project

[2020-01-17 19:24] Mridul20 commented on #2
Sir I want to contribute on this project

[2020-01-17 19:24] thesmallstar commented on #3
@garvitchittora  this issue is assigned to  @Rohini13 , please explore more issues/repos

[2020-01-17 19:24] amit2223 commented on #2
sir i want to work on this project.

[2020-01-17 19:24] Mridul20 commented on #7
Sir I want to contribute on this project

[2020-01-17 19:24] Piyush4064 commented on #10
Sir, I want to contribute in this task

[2020-01-17 19:24] garvitchittora commented on #10
I want to work on this project

[2020-01-17 19:25] thesmallstar commented on #7
This issue is already assigned, please take another issue and or explore more repos.
here: https://github.com/opencodeiiita

[2020-01-17 19:25] garvitchittora commented on #8
I want to work on this project

[2020-01-17 19:26] medhabalani commented on #1
@opencodebot claim

[2020-01-17 19:26] Mridul20 commented on #8
Sir I want to contribute on this project

[2020-01-17 19:26] amit2223 commented on #3
sir i want to work on this project.

[2020-01-17 19:26] garvitchittora commented on #9
I want to work on this project

[2020-01-17 19:26] garvitchittora commented on #11
I want to work on this project

[2020-01-17 19:27] ekanban commented on #10
@Piyush4064 @garvitchittora the issue has already been assigned to @cyber-venom003. Please look at some other issues/repos!

[2020-01-17 19:27] PratyushPareek commented on #7
What is meant by 'hero image' here?

On Sat, 18 Jan 2020, 12:22 am Abhishek Singh, <notifications@github.com>
wrote:

[2020-01-17 19:28] ekanban commented on #8
@griffy06 we're not using opencodebot, will be removing it soon.
@Codedude1 commented first so assigning the issue to him

[2020-01-17 19:29] medhabalani commented on #1
@opencodebot claim

[2020-01-17 19:42] unnunoctium opened #76 "Adding myself"
Hey! This is me writing from the mobile for the first time here.

[2020-01-17 19:47] #76 closed

[2020-01-17 20:11] sarthakm21 commented on #6
can i do this

[2020-01-17 20:11] sggts04 commented on #6
claim

[2020-01-17 20:53] uglyprincess commented on #7
If you didn't know what it was maybe you sHOULDN'T HAVE TAKEN THE **_FUCKIN ISSUE_**

[2020-01-17 20:58] uglyprincess commented on #6
@opencodebot claim

[2020-01-17 21:15] Saggittarius-A commented on #5
1

[2020-01-17 21:36] naina24 commented on #2
@opencodebot claim

[2020-01-17 21:39] ayandhiman opened #115 "mention issue number 1"
mention issue number  1

_Originally posted by @Ace-Bansal in https://github.com/opencodeiiita/Opencode-Collaborative-20/pull/107#issuecomment-575798372_

[2020-01-18 05:25] kavi-12 commented on #5
@opencodebot claim

[2020-01-18 05:56] kavi-12 commented on #6
@opencodebot claim

[2020-01-18 06:58] karan-kunwar commented on #6
I want to work on this.

[2020-01-18 07:49] thesmallstar commented on #6
@sarthakm21  go ahead

[2020-01-18 09:34] deepakgupta124 commented on #2
sir I Want to workon this project

[2020-01-18 09:36] deepak-gup7a commented on #2
sir I want To work On this project

[2020-01-18 09:49] rox999 commented on #2
sir i want to work on this project

[2020-01-18 10:03] rox999 commented on #6
sir i want to working on this.

[2020-01-18 10:14] rox999 commented on #3
sir i want to work on this project.

[2020-01-18 10:15] rox999 commented on #5
sir i want to work on this project.

[2020-01-18 10:15] rox999 commented on #7
sir i want to work on this project.

[2020-01-18 12:37] ekanban commented on #5
@iit2019017 any updates on this? Do you need any help?

[2020-01-18 12:38] ekanban commented on #6
@sarthakm21 any updates on this? Do you need any help?

[2020-01-18 12:57] ujjwal-batra opened #163 "Improve header for mobile view"

[2020-01-18 13:14] infinity-star commented on #163
sir I can do this

[2020-01-18 13:48] sarthakm21 commented on #6
@Ace-Bansal Still looking into it sir. This is new for me.
Can you recommend some related write-ups that might help me out?

[2020-01-18 14:10] #115 closed

[2020-01-18 14:44] thesmallstar commented on #11
any updates @iit2019017

[2020-01-18 14:45] thesmallstar commented on #10
@cyber-venom003  any updates

[2020-01-18 16:07] NitinMadhukar opened #171 "Add a navigation drawer"
put all the nav bar items in the navigation drawer

[2020-01-18 16:14] Saggittarius-A commented on #11
studied html and css and learned to make animated preloader trying to learn
how to include image in loader.

On Sat, Jan 18, 2020 at 8:14 PM Manthan Surkar <notifications@github.com>
wrote:

[2020-01-18 16:16] Yolo86 commented on #171
Claim

[2020-01-18 18:52] cyber-venom003 commented on #10
Right now....working on projects section
Please assign this task to any one else!!
Sorry sir.

[2020-01-18 18:53] shuba400 commented on #171
claim

[2020-01-18 19:05] thesmallstar commented on #171
@Yolo86  go ahead.

[2020-01-18 19:08] NitinMadhukar commented on #171
@shuba400 assigned

[2020-01-18 19:15] thesmallstar commented on #10
@Rohini13  assigned to you.

[2020-01-18 19:16] shuba400 commented on #171
Right now the page shows the drawer only when web page is collapsed to smaller size.
But we need to show a navigation drawer when page is in normal size too. Right?

[2020-01-18 19:17] NitinMadhukar commented on #171
Yes

[2020-01-18 19:45] JLodha commented on #2
Claim

[2020-01-18 19:46] JLodha commented on #8
Claim

[2020-01-18 21:17] #9 closed

[2020-01-18 21:23] thesmallstar opened #178 "Make Projects section responsive"

[2020-01-18 21:24] sandy9808 commented on #178
claim

[2020-01-18 21:25] pradhuman1 commented on #178
can i claim

[2020-01-18 21:25] harsh-8989 commented on #178
can i claim

[2020-01-19 03:59] JLodha commented on #3
Claim

[2020-01-19 04:00] JLodha commented on #10
Claim

[2020-01-19 04:01] JLodha commented on #163
Claim

[2020-01-19 07:33] ekanban commented on #2
Updates @Luna-Lovegood97.
Please reply before 4pm today, otherwise I'll have to reassign this issue to someone.

[2020-01-19 07:34] ekanban commented on #3
@Rohini13 any updates?
Please reply before 4pm today, otherwise I'll have to reassign this issue to someone.

[2020-01-19 07:34] ekanban commented on #5
@iit2019017 updates?
Please reply before 4pm today, otherwise I'll have to reassign this issue to someone.

[2020-01-19 07:41] ekanban commented on #6
@sarthakm21 you'll have to iterate over the json file and display the text in index.html
Try having a look at this thread:
https://stackoverflow.com/questions/34907982/looping-through-json-data-to-generate-html

[2020-01-19 07:43] ekanban commented on #8
@Codedude1 updates?
Please reply before 4pm today or I'll have to reassign this issue to someone else.

[2020-01-19 08:02] Codedude1 commented on #8
@Ace-Bansal  Sir, I have opened a PR.

[2020-01-19 08:19] #8 closed

[2020-01-19 08:24] ujjwal-batra opened #180 "align the project section properly"

[2020-01-19 08:35] Yolo86 commented on #180
claim

[2020-01-19 08:42] kavi-12 commented on #180
claim

[2020-01-19 09:19] Rohini13 commented on #3
@Ace-Bansal Sir, I made two pull requests for this issue

[2020-01-19 09:54] HelloGit2309 commented on #163
Sir I want to claim this issue

[2020-01-19 10:32] Ace-Bansal opened #184 "Become a GitHub Pro!"
Apply for the GitHub Student Developer's Pack. Read more about it [here](https://education.github.com/pack).

Comment the confirmation email that you will receive after you get the pack in the comments below.

Also, add your name and GitHub handle to the GitHubPro.md file in the data folder and send a PR. Follow the markdown structure as shown in the dummy contestants's example.

[Markdown Cheatsh

[2020-01-19 10:37] sggts04 commented on #184
Already Pro :)
![](https://i.imgur.com/4uZjYTk.png)

[2020-01-19 10:49] pradhuman1 commented on #184
![Screenshot 2020-01-19 at 4 19 21 PM](https://user-images.githubusercontent.com/54749108/72679690-7f84a300-3ad7-11ea-9dff-f7a65797d23d.png)

[2020-01-19 10:56] ekanban commented on #184
Add your names to the GitHubPro.md file in the data folder and create a PR
@sggts04 @pradhuman1

[2020-01-19 11:02] Ace-Bansal opened #187 "Generate your GitHub resume"
Generate your GitHub resume by following the instructions in this [repo](https://github.com/resume/resume.github.com).

Update GitHubResume.md in the data folder and create a PR once you're done.

Also mention the link to your GitHub resume in the comments below.

[2020-01-19 11:08] JLodha commented on #180
Claim

[2020-01-19 11:36] starboi02 commented on #184
<img width="946" alt="Pro ss" src="https://user-images.githubusercontent.com/58038202/72680273-eefd9100-3add-11ea-90d6-438fbe003ae5.PNG">
Already pro

[2020-01-19 11:44] sggts04 commented on #187
https://resume.github.io/?sggts04

[2020-01-19 11:55] starboi02 commented on #187
https://resume.github.io/?starboi02

[2020-01-19 12:35] aarpit1010 commented on #187
https://resume.github.io/?aarpit1010

[2020-01-19 13:52] pradhuman1 commented on #187
http://resume.github.io/?pradhuman1

[2020-01-19 15:36] ekanban commented on #2
Assigned to @garvitchittora due to no reply from @Luna-Lovegood97

[2020-01-19 15:38] ekanban commented on #5
Assigned to @kavi-12 due to no reply from @iit2019017

[2020-01-19 15:40] ekanban commented on #6
@sarthakm21 were you able to make any progress?

[2020-01-19 15:42] ekanban commented on #5
you'll have to iterate over the json file and display the text in index.html
Try having a look at this [thread](https://stackoverflow.com/questions/34907982/looping-through-json-data-to-generate-html)

[2020-01-19 16:01] JLodha commented on #187
http://resume.github.io/?JLodha

[2020-01-19 17:51] kavi-12 commented on #6
claim

[2020-01-19 17:52] kavi-12 commented on #11
claim

[2020-01-19 18:07] ankichd11 commented on #187
https://resume.github.io/?ankichd11

[2020-01-19 18:14] #180 closed

[2020-01-19 18:37] ankichd11 commented on #184
name added

[2020-01-19 18:51] ananya-mohanty commented on #11
Can I work on this?

[2020-01-19 18:59] sarthakm21 commented on #6
@Ace-Bansal I went through the the thread and am working on it.

[2020-01-19 19:03] kavi-12 commented on #5
sir, participants.json file is a large file ....do we have to display name and details of all the participants in the index.html

[2020-01-19 19:12] blaze-assault commented on #187
[](https://resume.github.io/?blaze-assault)

[2020-01-19 19:12] Mridul20 commented on #187
https://resume.github.io/?Mridul20

[2020-01-19 19:12] blaze-assault commented on #187
https://resume.github.io/?blaze-assault

[2020-01-19 19:30] pradhuman1 commented on #184
sir i added github pro and github resume into same pr,and i get point for one only

[2020-01-19 19:54] garvitchittora commented on #187
https://resume.github.io/?garvitchittora

[2020-01-20 02:50] sggts04 commented on #11
Can I work on this?

[2020-01-20 02:52] sggts04 commented on #6
Can I work on this? Its been 2 days

[2020-01-20 06:25] shuba400 commented on #171
@NitinMadhukar
Sir I have made a new PR. Please review

[2020-01-20 06:54] ananya-mohanty commented on #10
Claim

[2020-01-20 09:39] thesmallstar opened #208 "Correct participant json"
Remove all duplicate entries and beautify the json
One day time.

[2020-01-20 09:58] CadencePrestissimo commented on #208
Claim

[2020-01-20 10:45] thesmallstar commented on #208
Do it in a day.

[2020-01-20 12:59] Codedude1 commented on #208
Claim

[2020-01-20 13:20] JLodha commented on #184
Pro :)
http://prntscr.com/qq96a9

[2020-01-20 13:30] Codedude1 commented on #187
https://resume.github.io/?codedude1

[2020-01-20 13:30] Cybertron-Avneesh commented on #208
claim

[2020-01-20 13:38] JLodha commented on #208
Claim

[2020-01-20 13:45] priyanshu0405 commented on #184
![IIT2019131](https://user-images.githubusercontent.com/58037946/72731177-2725d200-3bb9-11ea-96e4-ba1a5a67bb64.PNG)

[2020-01-20 13:56] EkanshNishad commented on #184
![2020-01-20 (6)](https://user-images.githubusercontent.com/52215966/72731929-ae277a00-3bba-11ea-9cbb-d7bb298e01b4.png)

[2020-01-20 14:06] Atsurak commented on #187
https://resume.github.io/?Evadore

[2020-01-20 14:40] Cipher-vasu commented on #163
claim

[2020-01-20 14:42] thesmallstar opened #217 "Project section correction"
1. Remove the top project section(there are two)
2. align the bottom project section for mobile view and desktop view
3.  add remaining projects,

[2020-01-20 14:52] sggts04 commented on #217
claim

[2020-01-20 14:56] anirudhhhh commented on #187
http://resume.github.io/?anirudhhhh

[2020-01-20 15:08] infern018 commented on #187
https://resume.github.io/?infern018

[2020-01-20 15:21] JLodha commented on #217
Claim

[2020-01-20 16:50] cyber-venom003 commented on #217
claim

[2020-01-20 17:00] cyber-venom003 commented on #187
https://resume.github.io/?cyber-venom003

[2020-01-20 17:03] kavi-12 commented on #208
Claim

[2020-01-20 17:05] ananya-mohanty commented on #217
claim

[2020-01-20 17:30] cyber-venom003 commented on #11
claim

[2020-01-20 17:31] cyber-venom003 commented on #6
claim

[2020-01-20 17:50] infern018 commented on #208
Claim

[2020-01-20 18:09] #3 closed

[2020-01-20 18:15] sarthakm21 commented on #187
https://resume.github.io/?sarthakm21

[2020-01-20 18:25] ananya-mohanty commented on #187
Created resume #223
http://resume.github.io/?ananya-mohanty

[2020-01-20 18:27] Rohini13 commented on #187
http://resume.github.io/?rohini13

[2020-01-20 18:56] ankichd11 commented on #184
![pro](https://user-images.githubusercontent.com/46399613/72751074-9238ce00-3be4-11ea-83c7-5354f7adeafc.jpg)

[2020-01-20 19:04] ananya-mohanty commented on #184
Added name in GithubPro md file and became a Github Pro #227
<img width="1280" alt="ananya-mohanty githubpro" src="https://user-images.githubusercontent.com/42179851/72751515-d1b3ea00-3be5-11ea-9531-47e2714844b6.png">

[2020-01-20 19:48] griffy06 commented on #187
https://resume.github.io/?griffy06

[2020-01-20 21:46] sandy9808 commented on #178
sir please tell what to do specifically?

[2020-01-21 03:22] thesmallstar commented on #178
@sandy9808  I have reassigned this into a new issue due to inactivity.

[2020-01-21 03:22] #178 closed

[2020-01-21 06:06] uglyprincess commented on #187
GitHub Resume link: https://resume.github.io/?uglyprincess

[2020-01-21 09:29] zerefwayne opened #234 "Add a background colour to header"
![image](https://user-images.githubusercontent.com/28949397/72792113-77a33b00-3c5e-11ea-9217-9697ee0e1288.png)

As of now, the background colour is transparent. Your task is to change the colour to white.

[2020-01-21 09:31] zerefwayne opened #235 "Add a background colour to header"
![image](https://user-images.githubusercontent.com/28949397/72792113-77a33b00-3c5e-11ea-9217-9697ee0e1288.png)

As of now, the background colour is transparent. Your task is to change the colour to white.

[2020-01-21 09:36] smcri commented on #234
claim

[2020-01-21 09:36] blaze-assault commented on #235
claim

[2020-01-21 09:36] blaze-assault commented on #234
calim

[2020-01-21 09:50] JLodha commented on #235
Claim

[2020-01-21 09:56] smcri commented on #187
https://resume.github.io/?smcri

[2020-01-21 10:13] Piyush4064 commented on #235
claim

[2020-01-21 10:13] Piyush4064 commented on #234
claim

[2020-01-21 10:14] Piyush4064 commented on #208
claim

[2020-01-21 10:40] VarunT11 commented on #184
![Picture1](https://user-images.githubusercontent.com/58032608/72798142-6c550d00-3c68-11ea-85e5-35da5c11dc59.png)

[2020-01-21 10:44] Piyush4064 commented on #187
https://resume.github.io/?Piyush4064

[2020-01-21 10:46] VarunT11 commented on #187
https://resume.github.io/?VarunT11

[2020-01-21 11:53] ankit4284 commented on #184
![image](https://user-images.githubusercontent.com/56135084/72802846-b216d300-3c72-11ea-8a56-5fd76afb4e72.png)

[2020-01-21 11:56] ananya-mohanty commented on #235
Claim

[2020-01-21 12:02] ankit4284 commented on #187
http://resume.github.io/?ankit4284

[2020-01-21 12:07] anirudhhhh commented on #187
http://resume.github.io/?ankit4284

[2020-01-21 12:11] Atsurak commented on #184
![Screenshot (5)](https://user-images.githubusercontent.com/56782832/72803897-1328b180-3c47-11ea-9608-7a387d4c42c6.png)
Added my Name in GitHubPro.md File in Data.

[2020-01-21 12:15] Codedude1 commented on #184
![Screenshot 2020-01-21 at 5 22 43 PM](https://user-images.githubusercontent.com/53789050/72804143-bd1f3280-3c75-11ea-8c2d-5c39b13ebef7.png)

[2020-01-21 12:28] blaze-assault commented on #10
Can i claim this sir..since there is no pr

[2020-01-21 12:30] JLodha commented on #10
Sir i want to work on this issue
This issue has been inactive since the last 3 days

[2020-01-21 12:35] blaze-assault commented on #11
Sir can i claim this as it has been inactive

[2020-01-21 12:44] cyber-venom003 commented on #234
__CLAIM__

[2020-01-21 12:44] cyber-venom003 commented on #235
__CLAIM__

[2020-01-21 12:46] cyber-venom003 commented on #208
__CLAIM__

[2020-01-21 12:57] Mridul20 commented on #235
sir I want to work on this project

[2020-01-21 12:57] Mridul20 commented on #234
sir i want to work on this project

[2020-01-21 13:14] grenmon2202 commented on #234
claim

[2020-01-21 13:14] grenmon2202 commented on #208
claim

[2020-01-21 13:15] grenmon2202 commented on #6
claim

[2020-01-21 14:01] griffy06 commented on #184
![Screenshot (7)](https://user-images.githubusercontent.com/45875364/72810923-99171d80-3c84-11ea-84c7-0884e3c5bc29.png)

[2020-01-21 14:31] garvitchittora commented on #187
https://resume.github.io/?garvitchittora

[2020-01-21 14:56] uglyprincess commented on #184
![mail](https://user-images.githubusercontent.com/57333555/72815191-46d9fa80-3c8c-11ea-804f-55bbb36d1616.jpg)

[2020-01-21 15:12] uglyprincess commented on #184
![confirm](https://user-images.githubusercontent.com/57333555/72816644-83a6f100-3c8e-11ea-9762-85981a63e20e.png)

[2020-01-21 15:44] infern018 commented on #235
Claim

[2020-01-21 15:44] infern018 commented on #235
Claim

[2020-01-21 15:45] infern018 commented on #234
Claim

[2020-01-21 15:57] NitinMadhukar commented on #171
@shuba400 share the live link

[2020-01-21 16:00] prince-7 commented on #187
https://resume.github.io/?prince-7

[2020-01-21 16:06] shuba400 commented on #171
https://shuba400.github.io/Opencode-Collaborative-20/

[2020-01-21 17:54] kumarmanish03 commented on #235
claim

[2020-01-21 17:55] kumarmanish03 commented on #11
claim

[2020-01-21 17:56] kumarmanish03 commented on #6
**CLAIM**

[2020-01-21 19:03] kumarmanish03 commented on #187
https://resume.github.io/?manish-kumar-2000

[2020-01-21 19:04] kumarmanish03 commented on #208
**CLAIM**

[2020-01-21 19:05] kumarmanish03 commented on #234
CLAIM

[2020-01-21 20:17] cyber-venom003 commented on #11
@thesmallstar Sir, please assign it to me!!

[2020-01-21 21:59] mendelevium28 commented on #235
claim

[2020-01-22 03:26] garvitchittora commented on #235
claim

[2020-01-22 03:26] garvitchittora commented on #234
claim

[2020-01-22 03:27] garvitchittora commented on #10
Sir i want to work on this issue
This issue has been inactive since the last 4 days

[2020-01-22 07:18] #217 closed

[2020-01-22 07:53] cyber-venom003 commented on #6
@Ace-Bansal Please assign it to me sir....the issue has been inactive for past 2 days!!

[2020-01-22 08:57] infern018 commented on #184
![Screenshot (19)](https://user-images.githubusercontent.com/52378712/72879607-43458280-3d23-11ea-9ac0-bd2a9636de40.png)

[2020-01-22 11:04] garvitchittora commented on #11
sir ,because of no activity assign someone else .

[2020-01-22 11:25] RiyaJ2311 commented on #187
https://resume.github.io/?riyaJ2311

[2020-01-22 12:26] kumarmanish03 commented on #184
![Screenshot (4)](https://user-images.githubusercontent.com/41566808/72894033-74807b80-3d40-11ea-901f-145288291398.png)
#184 issue finished

[2020-01-22 12:35] mendelevium28 commented on #235
claim

[2020-01-22 13:39] Mridul20 commented on #184
![pro](https://user-images.githubusercontent.com/53915334/72898718-a0a0fa00-3d4a-11ea-9ebe-14520196f36d.png)

[2020-01-22 14:01] EkanshNishad commented on #235
claim

[2020-01-22 14:02] EkanshNishad commented on #234
claim

[2020-01-22 14:10] Piyush4064 commented on #184
![''''](https://user-images.githubusercontent.com/58388478/72901008-f7a8ce00-3d4e-11ea-902e-b3165937c264.png)

[2020-01-22 16:07] cyber-venom003 commented on #235
@zerefwayne Sir please assign it to me, it has been inactive from past day and I wanna work on it!!!

[2020-01-22 16:22] blaze-assault commented on #163
Claim .sir this has been inactive for more than 2 days.

[2020-01-22 16:30] sarthakm21 commented on #11
Claim!!

[2020-01-22 16:37] blaze-assault commented on #235
Sir i commented in it first .and it was not assigned to me and it was inactive .please assign it to me so that i can strt wrking on it

[2020-01-22 17:22] thesmallstar opened #266 "Make a java script game"
add a gh pages link to the game in Games.md file, the game should be made after open code started.

[2020-01-22 17:24] sggts04 commented on #266
Is this for everyone?

[2020-01-22 17:24] aarpit1010 commented on #266
Claim

[2020-01-22 17:27] KaushalSahu commented on #187
https://resume.github.io/?KaushalSahu

[2020-01-22 17:36] Codedude1 commented on #266
Claim

[2020-01-22 17:45] KaushalSahu commented on #184
https://prnt.sc/qre91j

Already a Pro user.

[2020-01-22 20:47] sanskar-p commented on #184
![Annotation 2020-01-23 021649](https://user-images.githubusercontent.com/54014518/72932811-7d943b80-3d86-11ea-88e0-0c48342a5280.jpg)

[2020-01-22 20:54] sanskar-p commented on #187
https://resume.github.io/?sanskar-p

[2020-01-23 03:16] Mridul20 commented on #11
Claim

[2020-01-23 05:48] sggts04 commented on #266
@thesmallstar does it have to be a native js game? No external lib?

[2020-01-23 05:53] thesmallstar commented on #266
Yes, if have to be a native js game.

[2020-01-23 09:53] thesmallstar commented on #208
@Codedude1 go ahead

[2020-01-23 10:35] thesmallstar opened #274 "Make a website for yourself"
Don't use site builders, you can make anything add your photos project etc. The website should be made after opencode started.

edit: add it to websites.md file

[2020-01-23 13:23] Ranveer251 commented on #235
sir i want to work on this project

[2020-01-23 17:55] shuba400 commented on #171
Sir please merge this PR

[2020-01-23 18:29] garvitchittora commented on #187
https://resume.github.io/?garvitchittora

[2020-01-23 19:05] pra1hamesh commented on #187
https://resume.github.io/?Lulz5ec

[2020-01-23 20:47] zerefwayne opened #281 "Project repository link should open in new tab"
When you click on the Project Repository button, it should open in a new tab.

![image](https://user-images.githubusercontent.com/28949397/73022480-ae8c7300-3e4f-11ea-96fb-27b3ee09a25c.png)

[2020-01-23 20:49] #235 closed

[2020-01-23 21:10] starboi02 commented on #281
claim

[2020-01-23 21:37] griffy06 commented on #281
claim

[2020-01-24 03:58] Mridul20 commented on #281
claim

[2020-01-24 04:04] JLodha commented on #281
I want to work on this sir

[2020-01-24 06:24] kumarmanish03 commented on #281
Claim

[2020-01-24 08:03] zevnil commented on #281
claim

[2020-01-24 08:04] zevnil commented on #234
claim

[2020-01-24 09:06] infern018 commented on #281
claim

[2020-01-24 11:30] cyber-venom003 commented on #281
__CLAIM__

[2020-01-24 14:19] #208 closed

[2020-01-24 17:35] blaze-assault commented on #7
claim

[2020-01-24 20:41] #5 closed

[2020-01-24 20:42] thesmallstar opened #286 "Load any default image in participants section on error"
2 errors possible Error:
1. No image given
2. Image not found

[2020-01-24 20:43] thesmallstar opened #287 "Add Pagination to participants section"

[2020-01-24 20:44] thesmallstar opened #288 "Design participants section card"
You should display all relevant details gathered in json

[2020-01-24 20:46] thesmallstar opened #289 "Correct Location of participant section"
1. Put it above projects section
2. Add required space before other section

[2020-01-24 20:48] thesmallstar opened #290 "Align projects section links and data"
![image](https://user-images.githubusercontent.com/42006277/73102882-cc71da80-3f18-11ea-9fd8-0d8c3f76c7c2.png)

1. Heading should come in one line
2. project links should be in one line

[2020-01-24 20:52] ananya-mohanty commented on #290
claim

[2020-01-24 20:52] ananya-mohanty commented on #289
Claim

[2020-01-24 20:52] ananya-mohanty commented on #287
Claim

[2020-01-24 21:01] pradhuman1 commented on #287
claim

[2020-01-24 21:01] pradhuman1 commented on #289
claim

[2020-01-24 21:02] pradhuman1 commented on #290
claim

[2020-01-24 21:03] thesmallstar opened #291 "Add a timer above hero image"
It should show the number of days hours and seconds left.

[2020-01-24 21:04] ananya-mohanty commented on #291
claim

[2020-01-24 21:06] Rohini13 commented on #288
claim

[2020-01-24 21:07] thesmallstar commented on #291
You already have 2 issues claimed, still open.

[2020-01-24 21:10] pradhuman1 commented on #291
claim

[2020-01-24 21:12] starboi02 commented on #286
claim

[2020-01-24 23:04] JLodha commented on #291
Claim

[2020-01-25 03:04] garvitchittora commented on #291
claim

[2020-01-25 03:04] garvitchittora commented on #290
claim

[2020-01-25 03:26] sarthakm21 commented on #291
Claim

[2020-01-25 03:27] sarthakm21 commented on #290
Claim

[2020-01-25 03:27] sarthakm21 commented on #286
Claim

[2020-01-25 03:28] sarthakm21 commented on #11
@thesmallstar sir, can I take it up?

[2020-01-25 03:36] blaze-assault commented on #291
claim

[2020-01-25 05:37] blaze-assault commented on #10
Claim .it has been inactive

[2020-01-25 05:39] cyber-venom003 commented on #287
CLAIM

[2020-01-25 05:40] cyber-venom003 commented on #286
CLAIM

[2020-01-25 05:40] cyber-venom003 commented on #290
__CLAIM__

[2020-01-25 05:55] cyber-venom003 commented on #291
__CLAIM__

[2020-01-25 08:41] sggts04 commented on #274
What file to edit in PR?

[2020-01-25 08:47] thesmallstar commented on #274
I forgot to add one, make websites.md file

[2020-01-25 10:11] thesmallstar opened #294 "Replace the social icons with font-awesome icons"
![image](https://user-images.githubusercontent.com/42006277/73119501-dc290780-3f88-11ea-821e-23576fd8730c.png)

Also add some hover effect.

[2020-01-25 10:12] sggts04 commented on #294
claim

[2020-01-25 10:18] starboi02 commented on #281
@zerefwayne please assign the task

[2020-01-25 11:02] pradhuman1 commented on #294
claim

[2020-01-25 11:44] kumarmanish03 commented on #294
Claim

[2020-01-25 11:46] cyber-venom003 commented on #294
__CLAIM__

[2020-01-25 12:16] kumarmanish03 commented on #291
CLAIM

[2020-01-25 12:17] kumarmanish03 commented on #290
CLAIM

[2020-01-25 12:18] kumarmanish03 commented on #286
CLAIM

[2020-01-25 12:25] blaze-assault commented on #281
Claim

[2020-01-25 17:55] maniacric commented on #294
CLAIM

[2020-01-25 19:24] maniacric commented on #289
claim

[2020-01-25 19:41] prince-7 commented on #184
![Screenshot from 2020-01-26 01-09-05](https://user-images.githubusercontent.com/53997924/73126454-b592bd00-3fd8-11ea-8cb7-2461db7aaa86.png)

[2020-01-25 20:54] shahidsiddiqui786 commented on #294
**Claim**

[2020-01-26 04:26] garvitchittora commented on #288
claim

[2020-01-26 09:05] #2 closed

[2020-01-26 09:42] maniacric commented on #289
Claim

[2020-01-26 09:45] maniacric commented on #6
CLAIM

[2020-01-26 09:58] blaze-assault commented on #10
claim

[2020-01-26 09:58] blaze-assault commented on #11
claim.sir it has been inactive.please assign it to me

[2020-01-26 12:48] starboi02 commented on #281
@zerefwayne please assign the task

[2020-01-26 16:50] shahidsiddiqui786 commented on #288
claim

[2020-01-26 16:52] shahidsiddiqui786 commented on #287
Claim

[2020-01-26 18:39] #294 closed

[2020-01-26 19:07] ananya-mohanty commented on #291
Claim (Its been more than two days)

[2020-01-26 19:31] pradhuman1 commented on #291
@ananya-mohanty it is not more than two days and @thesmallstar i almost completed it just give some more time i will do it

[2020-01-26 21:03] pradhuman1 commented on #291
Sir Website changed so much should i add timer

[2020-01-27 02:41] garvitchittora commented on #11
claim.sir it has been inactive.please assign it to me

[2020-01-27 05:44] mendelevium28 commented on #6
Can i take up the issue?

[2020-01-27 18:45] blaze-assault commented on #291
Claim

[2020-01-27 18:46] blaze-assault commented on #163
Claim

[2020-01-27 18:47] blaze-assault commented on #11
Claim sir it has been inactive for many days

[2020-01-28 03:32] pradhuman1 commented on #291
Sir I m ready with code I m not adding because  website has some bugs(student section not visible)

[2020-01-28 06:39] kumarmanish03 commented on #281
https://manish-kumar-2000.github.io/Opencode20/

task done

[2020-01-28 07:51] starboi02 commented on #281
@manish-kumar-2000 I was the first person to claim it ,I didn't make pull request, as was not assigned.How could you create the pull request without being assigned?

[2020-01-28 15:37] blaze-assault commented on #7
Claimm .it has been inactive for so longg

[2020-01-28 18:03] blaze-assault commented on #290
Claim

[2020-01-29 08:36] blaze-assault commented on #289
Claim

[2020-01-29 11:45] blaze-assault commented on #286
Claim

[2020-01-29 13:53] sggts04 commented on #291
can I work on this?

[2020-01-29 13:54] sggts04 commented on #287
Can I work on this? Its been inactive

[2020-01-29 16:00] #290 closed

[2020-01-29 16:08] #286 closed

[2020-01-29 16:44] NitinMadhukar opened #329 "Make a todo list"
use html, css, javascript and make a simple todo list having an add and remove button.
add a gh pages link to the list in list.md file, the list should be made after open code started.

[2020-01-29 17:42] NitinMadhukar opened #330 "Make a todo list with backend"
Add it in the todobackend.md

[2020-01-30 16:58] sarthakm21 commented on #288
@thesmallstar can I take it up?

[2020-01-31 15:50] niftyy opened #339 "Fix MoviesSearch project name typo"

[2020-01-31 15:55] starboi02 commented on #339
Claim

[2020-01-31 16:01] sarthakm21 commented on #339
Claim

[2020-01-31 16:50] #287 closed

[2020-01-31 16:51] #339 closed

[2020-01-31 17:45] sarthakm21 commented on #184
![pro](https://user-images.githubusercontent.com/58396189/73561721-83250c00-447f-11ea-8026-e3637217776c.PNG)

[2020-01-31 18:24] ankit4284 commented on #184
![image](https://user-images.githubusercontent.com/56135084/73564137-f8dfa680-4484-11ea-8d1c-e67ea0b0d2ac.png)

[2020-01-31 18:25] blaze-assault commented on #11
claim ...sir it has been inactive for a while .  @NitinMadhukar  @thesmallstar

[2020-02-01 12:38] abhishekmsingh commented on #163
Issue open again.

[2020-02-01 12:39] blaze-assault commented on #163
Claim

[2020-02-01 12:41] abhishekmsingh commented on #7
Issue open again

[2020-02-01 12:42] blaze-assault commented on #7
Claim

[2020-02-01 13:04] abhishekmsingh commented on #7
You have it @blaze-assault

[2020-02-01 15:47] blaze-assault commented on #7
sir please clarify the issue.what do you mean by hero image.
@abhiandthetruth

[2020-02-02 16:51] niftyy opened #353 "Fix extra white space in list.md"
check 1.

[2020-02-02 16:52] aarpit1010 commented on #353
claim

[2020-02-02 16:52] sarthakm21 commented on #353
claim

[2020-02-03 14:45] snehal199 commented on #187
http://resume.github.io/?snehal199

[2020-02-04 06:20] garvitchittora commented on #288
sir , can i take it since it is inactive for 10 days .

[2020-02-04 06:27] blaze-assault commented on #163
Claim @abhiandthetruth  please assign the issue

[2020-02-06 08:33] aarpit1010 commented on #353
@niftyy  Sir, the changes had already been made in the PR#354 that I closed. Since, I deleted the repo and tried to do the task again, it had already been corrected. So, there was nothing for me to commit. The extra white space issue has already been fixed. How will I get points for this issue then ?

![Screenshot (42)](https://user-images.githubusercontent.com/58038078/73919327-55115300-48e9-11ea

[2020-02-06 08:38] tushparte commented on #353
somebody else has fixed it already so this issue will be closed.

[2020-02-06 08:38] #353 closed

[2020-02-06 15:44] sggts04 commented on #11
claim

[2020-02-12 13:15] thesmallstar opened #367 "Add games made by participants section"

[2020-02-12 13:57] Jigar3 opened #368 "Remove unnecessary Options from the Navbar and add relevant ones and correctly link them"
![Screenshot from 2020-02-12 19-25-40](https://user-images.githubusercontent.com/32068121/74341406-aa5bd180-4dcd-11ea-9193-be48c95ecf95.png)

[2020-02-12 13:59] Jigar3 opened #369 "Align the "About OpenCode" Section Properly"
![Screenshot from 2020-02-12 19-27-26](https://user-images.githubusercontent.com/32068121/74341500-d5debc00-4dcd-11ea-98da-1f67135716dd.png)

Remove or edit the grey bars

[2020-02-12 14:02] Jigar3 opened #370 "Edit the OpenCode Project Section"
The Projects are miserably aligned and no structure is there.
Align the contents properly and enclose them within a card.

Some sample card designs are attached for reference.
![Screenshot from 2020-02-12 19-31-21](https://user-images.githubusercontent.com/32068121/74341826-6917f180-4dce-11ea-80bf-5e274b950001.png)
![Screenshot from 2020-02-12 19-31-07](https://user-images.githubusercontent.com/32

[2020-02-12 14:04] Jigar3 opened #371 "Create Footer"
The current footer looks really bad. Add a cool footer and link all the social networks within it.
Make sure alignment is proper in every resolution

[2020-02-12 14:06] Jigar3 opened #372 "Edit Participation Section"
The current participation section is not at all aligned and has no structure. Beautify it by making cards for every participant.

[2020-02-12 14:10] Cybertron-Avneesh commented on #371
claim

[2020-02-12 14:11] Jigar3 commented on #371
@Cybertron-Avneesh Go Ahead

[2020-02-12 14:12] sarthakm21 commented on #371
claim

[2020-02-12 14:13] sarthakm21 commented on #369
claim

[2020-02-12 14:13] sarthakm21 commented on #368
claim

[2020-02-12 14:16] Jigar3 commented on #369
@sarthakm21 go ahead

[2020-02-12 14:16] Jigar3 commented on #368
@sarthakm21 go ahead

[2020-02-12 14:24] sarthakm21 commented on #368
what options should I add?

[2020-02-12 14:24] Jigar3 commented on #368
Projects and Participants

[2020-02-12 14:41] pradhuman1 commented on #369
claim

[2020-02-12 14:41] pradhuman1 commented on #368
claim

[2020-02-12 14:41] pradhuman1 commented on #367
claim

[2020-02-12 14:43] pradhuman1 commented on #372
claim

[2020-02-12 14:48] #7 closed

[2020-02-12 14:49] Jigar3 commented on #372
@pradhuman1 go ahead

[2020-02-12 14:56] Jigar3 opened #376 "Make optimizations in website to load it faster."
While loading the website, observe the network tab within Developer Tools. It shows all the resources which are being requested by the website. Try to find out things which are aren't necessary and remove those requests by deleting the concerned import. Check the duration of loading as well as shown in the below picture and try to see if they can be reduced.

![Screenshot from 2020-02-12 20-23-47]

[2020-02-12 14:57] #274 closed

[2020-02-12 15:03] blaze-assault commented on #376
Claim

[2020-02-12 15:03] blaze-assault commented on #370
Claim

[2020-02-12 15:04] Jigar3 commented on #376
@blaze-assault go ahead

[2020-02-12 15:05] Jigar3 commented on #370
@blaze-assault go ahead

[2020-02-12 15:13] Jigar3 opened #377 "add favicon"

[2020-02-12 15:15] Jigar3 opened #378 "Add Full Page Scroll"
Refer here : https://alvarotrigo.com/fullPage/#page1

[2020-02-12 15:17] Jigar3 opened #379 "Make Participants appear Alphabetically in Participant Section"

[2020-02-12 15:18] Cybertron-Avneesh commented on #377
claim

[2020-02-12 15:19] Jigar3 commented on #377
@Cybertron-Avneesh go ahead

[2020-02-12 15:21] blaze-assault commented on #329
@Jigar3  sir this  issue has been closed by @pradhuman1  .sir please reopen this i want to make pr

[2020-02-12 15:39] sarthakm21 commented on #379
claim

[2020-02-12 15:39] aarpit1010 commented on #379
Claim

[2020-02-12 15:40] blaze-assault commented on #378
Claim

[2020-02-12 15:40] aarpit1010 commented on #378
Claim

[2020-02-12 15:41] aarpit1010 commented on #371
Claim

[2020-02-12 15:42] sarthakm21 commented on #378
claim

[2020-02-12 15:42] sarthakm21 commented on #372
claim

[2020-02-12 15:43] sarthakm21 commented on #370
claim

[2020-02-12 18:01] #368 closed

[2020-02-12 18:05] #377 closed

[2020-02-13 06:52] sggts04 commented on #379
claim

[2020-02-13 08:09] Jigar3 opened #386 "Add a section to list out all the Websites made by Participants"
The data to be displayed is in the data/Websites.md. Make sure you create the section using cards

[2020-02-13 08:14] Jigar3 opened #387 "Add a section to list out all the Github Resumes made by Participants"
The data to be displayed is in the data/GitHubResume.md. Make sure you create the section using cards

[2020-02-13 08:20] sarthakm21 commented on #386
claim

[2020-02-13 08:25] #369 closed

[2020-02-13 08:25] sarthakm21 commented on #387
claim

[2020-02-13 08:32] Jigar3 commented on #386
@sarthakm21 It would be great if you could add a link preview feature. You can refer https://codingislove.com/generate-link-preview-webapp/

If you are able to do this, I will make it a 50 point issue

![link-preview-result-1024x478](https://user-images.githubusercontent.com/32068121/74415510-83eb7400-4e69-11ea-85c1-6451ab200274.png)

[2020-02-13 08:35] #281 closed

[2020-02-13 08:58] snehal199 commented on #387
claim

[2020-02-13 08:59] sggts04 commented on #387
claim

[2020-02-13 09:01] sggts04 commented on #6
claim

[2020-02-13 09:09] garvitchittora commented on #376
claim

[2020-02-13 09:18] blaze-assault commented on #386
Claim

[2020-02-13 10:09] prince-7 commented on #379
CLAIM

[2020-02-13 12:34] Jigar3 opened #393 "Write a blog about any technology"
You are required to write a blog about any thing that you learned during OpenCode. It can range from anything between different ways to give CSS properties to any HTML element to building say your own backend server or about an algorithm which you learned or any producitivity tip on use editior or which terminal extensions or environment you use.

I guess you get the gist that the blog can be abou

[2020-02-13 14:50] Cybertron-Avneesh commented on #393
https://medium.com/@iib2019010/how-to-make-your-first-android-app-ef227f572462
here is my medium blog
I wrote blog on "how to make your first android app".
@Jigar3 @thesmallstar sir review it

[2020-02-13 16:58] thesmallstar commented on #11
This issue is reopened.
Comment to claim.

[2020-02-13 16:59] #10 closed

[2020-02-13 16:59] sggts04 commented on #11
claim

[2020-02-13 16:59] thesmallstar commented on #6
Issue reopened, comment to claim.

[2020-02-13 17:02] sggts04 commented on #6
claim

[2020-02-13 17:04] blaze-assault commented on #11
Claim

[2020-02-13 18:11] sarthakm21 commented on #184
![pro](https://user-images.githubusercontent.com/58396189/74464884-6397d580-4eba-11ea-8337-a007c3a70145.PNG)

[2020-02-13 18:31] garvitchittora commented on #371
claim

[2020-02-13 18:32] garvitchittora commented on #11
claim

On Thu, 13 Feb 2020, 10:34 pm Ayush Tiwari, <notifications@github.com>
wrote:

[2020-02-13 18:37] garvitchittora commented on #386
claim

[2020-02-13 19:34] kumarmanish03 commented on #378
claim

[2020-02-13 19:36] kumarmanish03 commented on #370
claim

[2020-02-13 19:53] blaze-assault commented on #370
https://blaze-assault.github.io/Opencode-Collaborative-20a/

[2020-02-13 19:53] blaze-assault commented on #370
@Jigar3  @thesmallstar  please review the pr

[2020-02-13 21:36] pradhuman1 commented on #367
Should i add game in each participants card
@thesmallstar

[2020-02-14 07:45] thesmallstar commented on #367
Link to game, and particpant image/screenshot of game.

[2020-02-14 07:57] blaze-assault commented on #372
claim.

[2020-02-14 08:05] #291 closed

[2020-02-14 08:20] #371 closed

[2020-02-14 10:16] sggts04 commented on #379
can I work on this? @Jigar3

[2020-02-14 10:17] sggts04 commented on #386
@Jigar3 can I work on this?

[2020-02-14 11:04] sggts04 commented on #393
https://medium.com/@sggts04/rendering-pdfs-on-your-webpage-stuff-i-learnt-from-opencode20-3b8cb6f4317f

Wrote a blog on "Rendering PDFs on your webpage"

[2020-02-14 14:16] sggts04 commented on #387
can I work on this?

[2020-02-15 04:14] #370 closed

[2020-02-15 04:16] #11 closed

[2020-02-15 04:16] #379 closed

[2020-02-15 04:26] sggts04 commented on #378
can I work on this?

[2020-02-15 05:54] sarthakm21 commented on #393
https://medium.com/@sarthakmaheshwari140/how-to-create-a-basic-minimal-logo-using-adobe-photoshop-4baf9f3e441f

Wrote a blog on "How to create a basic minimal logo using photoshop"

[2020-02-15 11:26] pradhuman1 commented on #393
https://medium.com/@pradhumansinghbaid/pdf-uploader-drag-and-drop-using-js-and-html-3f1da13334a0
I wrote a blog on "PDF uploader using Js and HTML"

[2020-02-15 12:50] prince-7 commented on #393
https://medium.com/@UnpopularGuy/66cd93fccac7?source=friends_link&sk=11ed3bfda816b135010299988bb3858e
Wrote a blog on CyberSecurity

[2020-02-15 17:08] #6 closed

[2020-02-15 17:22] blaze-assault commented on #393
https://medium.com/@tiwariayush1398/github-for-beginners-20dc4abfe61b
i wrote a blog on basic github commands.

[2020-02-16 09:13] #372 closed

[2020-02-16 09:41] #378 closed

[2020-02-17 17:52] kumarmanish03 commented on #393
https://medium.com/@manishkumar_88971/building-a-basic-webserver-using-node-js-3af4f88b21bb
I wrote a blog on setup a basic webserver using NodeJS

[2020-02-18 09:05] snehal199 commented on #393
https://medium.com/@snehalreet199/to-help-you-with-git-209303b4b346
I wrote a blog on a few things that I learned while using git in opencode 😊

[2020-06-06 09:35] alkatrivedi commented on #393
https://medium.com/@alkatrivedi12dec/how-to-make-your-first-contribution-to-open-source-project-c49c43c76a86
I wrote a blog on how to make your first contribution to open source

[2020-11-04 14:33] #234 closed